body {
  background-image: url('https://images.unsplash.com/photo-1574417836112-fda6a03dae97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-size: 100%;
}
